{{#each threads as |thread| }}
<div class="row mb-4 thread">
  <div class="col-md-5">
    <h2>
      <a href="/thread/{{thread.id}}">{{thread.title}}</a>
    </h2>
    <p>Created by {{thread.user.username}} on {{format_date thread.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{thread.description}}
    </p>
  </div>
</div>
{{/each}}
